#contacts-container {
	margin-top: 20px;
}

#contacts-header {
	text-align: center;
}

#scrolling-list {
	list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
}

#scrolling-list-item {
	display: inline;
} 