#contacts-container {
	margin-top: 20px;
	margin-bottom: 40px;
}

#contacts-header {
	text-align: center;
}

#scrolling-list {
	list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  text-align: center;
}

#scrolling-list-item {
	display: inline;
}

#float-right {
	float: right;
}