<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>{{#link-to 'index' }}EmberEasyContacts{{/link-to}}</h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    {{!-- Left Nav Section --}}
    <ul class="left">
      <li>{{#link-to 'contacts'}}Contacts{{/link-to}}</li>
    </ul>

    {{!-- Right Nav Section --}}
    <ul class="right" id='right'>
      <li>{{#link-to 'contacts.new' classNames="button"}}Add New Contact{{/link-to}}</li>
    </ul>

  </section>
</nav>

{{outlet}}