<div class="row">
	<div class="small-12 small-centered columns" id="welcome-title">
		<h1>Welcome to EmberEasyContacts</h1>
	</div>
	<div class="small-12 small-centered columns" id="feature-header">
		<h2>Built With</h2>
	</div>
	<div class="small-12 small-centered columns">
		<div class="row">
		  <div class="small-4 columns" id="feature-box">
		  	<h4>Ember</h4>
		  	{{partial "emberfeature"}}
		  </div>
		  <div class="small-4 columns" id="feature-box">
		  	<h4>Ember-Appkit-Rails</h4>
		  	{{partial "eakrfeature"}}
		  </div>
		  <div class="small-4 columns" id="feature-box">
		  	<h4>Ember Data</h4>
		  	{{partial "emberdatafeature"}}
		  </div>
	</div>	
	</div>
</div>